<nav class="nav">
    <div class="nav__left">
        <a href="/">Home</a>
        <a href="/about/">About</a>
    </div>
    
    <div class="nav__right">
        <a target="_blank" href="https://github.com/{{ site.github }}" class="link-github">GitHub</a>
        <a target="_blank" href="https://www.linkedin.com/in/haithamqudaih/" class="link-linkedin">Linkedin</a>
        <a target="_blank" href="https://twitter.com/heetho_fs" class="link-twitter">Twitter</a>
        <a target="_blank" href="https://medium.com/@haithamqdaih" class="link-twitter">Medium</a>
        <a href="mailto:{{ site.email }}" class="link-email">Email</a>
    </div>
</nav>
