<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<nav class="nav">
    <div class="nav__left">
        <a href="/">Home</a>
        <a href="/about/">About</a>
    </div>
    
    <div class="nav__right">
        <a  target="_blank" href="https://github.com/{{ site.github }}" class="fab fa-github" style="animation: a 6s infinite linear; .nav a:hover {color: #000;
}"></a>
        <a target="_blank" href="https://www.linkedin.com/in/haithamqudaih/" class="fab fa-linkedin"style="animation: a 6s infinite linear;"></a>
        <a target="_blank" href="https://twitter.com/heetho_fs" class="fab fa-twitter"style="animation: a 6s infinite linear;"></a>
        <a target="_blank" href="https://medium.com/heetho_fs" class="fab fa-medium"style="animation: a 6s infinite linear;"></a>
        <a href="mailto:{{ site.email }}" class="fas fa-envelope-square"style="animation: a 6s infinite linear;"></a>
    </div>
</nav>
